.ReactVirtualized__Table__Grid {
  outline: none;
}
.ReactVirtualized__Table__headerRow {
  display: flex;
  flex-direction: row;
}
.ReactVirtualized__Table__headerColumn {
}
.ReactVirtualized__Table__rowColumn {
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
}
